<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Song by Eddie Coldrick</title>
    <link rel="stylesheet" href="https://pi4li.com/styles/build.css">
</head>
<body>
    <header class="text-center">
        <h1 class="tracking-md font-bold text-2xl">One Song</h1>
        <h3 class="font-bold text-xl">Chosen by Eddie Coldrick</h3>
        <p class="italic">Powered by Spotify API</p>
    </header>
    <form method="post">
    <input type="text" name="term" placeholder="search term">
    <button type="submit">Submit</button>
    <br>
    <p>Song History:</p>
    <%songs.forEach((element)=>{%>
        <p><%=element.songname%> by <%=element.artistname%> <%=element.date%></p>
    <%})%>
</form>
</body>
</html>